<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>IZCC</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/IZCC1.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{{url_for('home')}}">IZCC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">首頁</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">關於我們</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('class_intr')}}">課程介紹</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('sign_up')}}">報名</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5" style="background-image: url('static/home.png'); background-size: cover; background-position: center;">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start" style="background-color: rgba(0, 0, 0, 0.5); padding: 40px; font-weight: bold;">
                                <h1 class="display-5 fw-bolder text-white mb-2">izcc四校聯合暑訓</h1>
                                <p class="display-8 fw-bolder text-white mb-2">大家好我們是<br>建中資訊(INFOR)<br>中山資研(ZSISC)<br>成功電研(CKCSC)<br>景美電資(CMIOC)<br>
                                    8/7～8/13四校聯合暑訓在建中、中山和成功舉行！！
                                </p>
                                <br>
                                <p class="display-8 fw-bolder text-white mb-2">
                                    報名時間：即日起至7/25 ，在暑訓網站上填寫報名資訊，即為報名成功。(填寫完請記得按提交喔！)   <br>
                                    公告錄取名單：7/26在ig和fb皆會發文公告，請記得持續關注我們的暑訓帳號。 <br>
                                    繳費期間：7/26至7/30
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{url_for('sign_up')}}">報名</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{{url_for('about')}}">更多</a>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="#"/></div>
                    </div>
                </div>
            </header>
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="static/schedule.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h1 class="fw-bolder text-center">課程表</h1>
                            
                        </div>
                    </div>
                </div>
            </section>
           
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">IZCC &copy;  Website 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="{{url_for('home')}}">首頁</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{{url_for('about')}}">關於我們</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{{url_for('class_intr')}}">課程介紹</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{{url_for('sign_up')}}">報名</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="https://www.instagram.com/izcc.summercamp.2023/">IG</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/scripts.js"></script>
    </body>
</html>
